<!DOCTYPE html>
{% extends "layout.html" %} {% block content %}
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Enter your username and password</h1>
    <form action="/process" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required><br><br>

        <label for="access_level">Access Level:</label>
        <select id="access_level" name="access_level" required>
            <option value="USER">User</option>
            <option value="EDITOR">Editor</option>
            <option value="ADMIN">Admin</option>
        </select><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
{% endblock %}

